[submodule "libs/raknetify"]
	path = mods/raknetify
	url = https://github.com/RelativityMC/raknetify.git
[submodule "libs/kosmolot-malilib"]
	path = mods/kosmolot-malilib
	url = https://github.com/kosmolot-mods/malilib.git
[submodule "libs/Squake"]
	path = mods/Squake
	url = https://github.com/adryd325/Squake.git
[submodule "libs/ceramic"]
	path = mods/ceramic
	url = https://github.com/adryd325/ceramic.git
[submodule "mods/autofish"]
	path = mods/autofish
	url = https://github.com/Wudji/autofish.git
[submodule "mods/baritone"]
	path = mods/baritone
	url = https://github.com/wagyourtail/baritone.git
[submodule "mods/Nostalgic-Tweaks"]
	path = mods/Nostalgic-Tweaks
	url = https://github.com/Adrenix/Nostalgic-Tweaks.git
