[submodule "libs/raknetify"]
	path = libs/raknetify
	url = https://github.com/RelativityMC/raknetify.git
[submodule "libs/kosmolot-malilib"]
	path = libs/kosmolot-malilib
	url = https://github.com/kosmolot-mods/malilib.git
[submodule "libs/Squake"]
	path = libs/Squake
	url = https://github.com/adryd325/Squake.git
